.footer-section {
    padding: 50px 0;
    background-color: #070707;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer-left{}
.footer .footer-left p {
    color: #aaaaaa;
}
.footer .footer-left p a {
    color: #1CEAAC;
}
.footer .footer-right{}
.footer .footer-right ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
.footer .footer-right ul li{
    list-style: none;
}
.footer .footer-right ul li a{
    color: #aaaaaa;
    transition: .3s;
}
.footer .footer-right ul li a:hover{
    color: #cbcbcb;
}